services:
  app:
    build: .
    ports:
      - 8080:8080
    volumes:
      - .:/var/www
    working_dir: /var/www
    container_name: charity-app
    command: ["sh","entrypoint.sh"]
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=charity
      - DB_USER=postgres
      - DB_PASSWORD=postgres
